<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="page page-break" th:fragment="page(p)">

  <!-- Header KPI SOLO se firstPage -->
  <div class="kpi-header" th:if="${p.firstPage}">
    <h2 class="kpi-detail-title">
      KPI <span th:text="${p.kpi.code}"></span>
    </h2>

    <h3 class="kpi-subtitle"
        th:text="#{${'pdf.kpi.' + p.kpi.code + '.title'}}">
    </h3>

    <p class="kpi-description"
       th:text="#{${'pdf.kpi.' + p.kpi.code + '.description'}}">
    </p>

    <div class="kpi-detail-outcome">
      <span class="kpi-pill ko">NON CONFORME</span>
    </div>
  </div>

  <!-- Tabella -->
  <div th:if="${p.table != null}">
    <div th:replace="pdf/fragments/kpi-table :: kpiTable(${p.table})"></div>
  </div>

</div>

</body>
</html>