<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="page" th:classappend="${p.pageBreakBefore} ? ' page-break' : ''" th:fragment="page(p)">

  <div class="kpi-header">
    <h2 class="kpi-detail-title">
      <span th:text="'KPI ' + ${p.kpi.code}">KPI A.1</span>
    </h2>

    <h3 class="kpi-subtitle" th:text="#{${'pdf.kpi.' + p.kpi.code + '.title'}}">
      Rispetto SLA disponibilità servizio
    </h3>

    <p class="kpi-description" th:text="#{${'pdf.kpi.' + p.kpi.code + '.description'}}"></p>
  </div>

  <div class="kpi-detail-outcome">
    <span class="kpi-pill ok" th:text="#{pdf.kpi.compliant}">CONFORME</span>
  </div>

  <!-- PARAMETERS PLACEHOLDER -->
  <div class="kpi-parameters">
    <div class="kpi-parameters-title" th:text="#{pdf.kpi.parameters.title}">
      Parametri di analisi utilizzati
    </div>

    <!-- TODO: parametri dinamici -->
    <div class="kpi-parameters-placeholder">
      <!-- gestiti da service -->
    </div>
  </div>

  <!-- TABLE -->
  <!--<div class="kpi-table-wrapper" th:if="${kpi.code == 'A.1' and kpiA1Table != null}">
    <div th:replace="pdf/fragments/kpi-table :: kpiTable(${kpiA1Table})"></div>
  </div>-->
  <div th:if="${p.table != null}">
    <div th:replace="pdf/fragments/kpi-table :: kpiTable(${p.table})"></div>
  </div>

</div>
</body>
</html>